{{!-- <div class="order container center m-3 p-3">
    <form action="/orderaction/" method="post">
    <div class="carttable ">
        <table class="center">
            <thead class="order_head">
                <tr >
                    <td >orderId</td>
                    <td >street name</td>
                    <td >delivery agents</td>
                    <td >delivery cost</td>
                   </tr>
            </thead>
            <tbody>
                <tr>
                    <td>91</td>
                    <td>lydes</td>
                    <td>mr D</td>
                    <td >15</td>
                   
                </tr>
                 <tr>
                     <td>92</td>
                    <td>madiba</td>
                    <td>uber eats</td>
                    <td>8</td>
                 </tr>
                 <tr>
                     <td>93</td>
                    <td>girth</td>
                    <td>mr D</td>
                    <td>10</td>
                 
                </tr>
                 <tr>
                     <td>94</td>
                    <td>chris</td>
                    <td>uber eats</td>
                    <td>18</td>
                    
                </tr>
                 <tr>
                     <td>95</td>
                    <td>hunter</td>
                    <td>mr D</td>
                    <td>12</td>
                    
                </tr>
                 <tr>
                     <td>96</td>
                    <td>smith</td>
                    <td>mr D</td>
                    <td>14</td>
                   
                </tr>
                 <tr>
                     <td>97</td>
                    <td>andies</td>
                    <td>uber eats</td>
                    <td>10</td>
                    
                </tr>
                 <tr>
                     <td>98</td>
                    <td>stanbeg</td>
                    <td>ubers eats</td>
                    <td>15</td>
                    
                </tr>
                 <tr>
                     <td>99</td>
                    <td>polo</td>
                    <td>mr D</td>
                    <td>19</td>
                    
                </tr>
                 <tr>
                     <td>100</td>
                    <td>galeda</td>
                    <td>mr D</td>
                    <td>13</td>
                    
                </tr>
                <tr>
                    <td>101</td>
                    <td>arcadia</td>
                    <td>uber eats</td>
                    <td>14</td>
                    
                </tr>
                
                {{#each delivery}}
                <tr>
                    <td>{{order_id}}</td>
                     <td>{{street}}</td>
                     <td>{{agent}}</td>
                      <td>{{cost}}</td>
                    
                </tr>
                {{/each}}
            </tbody>
            
        </table>
    </div>
   </form>
</div> --}}

<form action="">
     <table class="center">
            <thead class="order_head">
                <h1>Delivery</h1>
                <tr >
                    <td >orderId</td>
                    <td >street name</td>
                    <td >delivery agents</td>
                    <td >delivery cost</td>
                   </tr>
 
<a href="/delivery_add">add delivery</a>
{{delivery}}

    {{#each delivery}}
<tr>
    <td>{{street}}</td>
    <td>{{agent}}</td>
    <td>{{contact}}</td>
    <td>{{cost}}</td>
</tr>
{{/each}}
</table>
</form>


