<div class="order container center m-3 p-3">
    <form action="/orderaction/" method="post">
    <div class="carttable ">
        <table class="center">
            <thead class="order_head">
                <tr >
                    <td margin="250px">orderId</td>
                    <td margin="250px">Amount</td>
                    <td margin="250px">Action</td>
                   </tr>
            </thead>
            <tbody>
                <tr>
                    <td>90</td>
                    <td>49</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="pay"></td>
                    {{!-- <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="collect"></td> --}}
                </tr>
                 <tr>
                    <td>91</td>
                    <td>89</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="collect"></td>
                </tr>
                 <tr>
                    <td>92</td>
                    <td>129</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="collected"></td>
                </tr>
                 <tr>
                    <td>94</td>
                    <td>138</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="collection"></td>
                </tr>
                 <tr>
                    <td>95</td>
                    <td>178</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="paid"></td>
                </tr>
                 <tr>
                    <td>96</td>
                    <td>129</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="collected"></td>
                </tr>
                 <tr>
                    <td>97</td>
                    <td>218</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="collection"></td>
                </tr>
                 <tr>
                    <td>98</td>
                    <td>267</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="pay"></td>
                </tr>
                 <tr>
                    <td>99</td>
                    <td>178</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="collect"></td>
                </tr>
                 <tr>
                    <td>100</td>
                    <td>258</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="collected"></td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>98</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="pay"></td>
                </tr>
                
                {{#each orders}}
                <tr>
                    
                    {{!-- <td>{{order_id}}</td> --}}
                    <td>{{payment}}</td>
                    {{!-- <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="{{@root.pays}}"></td> --}}
                </tr>
                {{/each}}
            </tbody>
            
        </table>
    </div>
   </form>
</div>