<div class="order container center m-3 p-3">
    <form action="/orderaction/" method="post">
    <div class="carttable ">
      {{orders}}
        <table class="center">
            <thead class="order_head">
                <tr >
                    <td >orderId</td>
                    <td >Amount</td>
                    <td>Status</td>
                    <td >Action</td>
                   </tr>
            </thead>
            <tbody>

                
                {{#each orders}}
            
                <tr>
                    
                    <td>{{order_id}}</td>
                    <td>{{amount}}</td>
                    <td>{{status}}</td>
                     <td>{{payment}}</td>
                    {{!-- <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="{{@root.pays}}"></td>  --}}
                </tr>
                {{/each}}
            </tbody>
            
        </table>
    </div>
    
   </form>
</div>
{{!-- 
<h1>Order</h1> --}}
{{!-- <a href="/order_add">add pizza</a> --}}
{{!-- {{orders}}
<table>
    {{#each order}}
<tr>
    <td>{{order_id}}</td>
    <td>{{amount}}</td>
    <td>{{status}}</td>
    <td>{{payment}}</td>
</tr>
{{/each}}
</table> --}}